logo {
    max-height: 100px; /* Adjust the height as needed */
    max-width: 100px; /* Adjust the width as needed */
    border-radius: 50%; /* Create circular borders */
    object-fit: cover;
    position: relative;
    top: 4px;
    bottom: 20px;
    left: 0;
}

/* Adjust size for medium screens */
@media (max-width: 991.98px) {
    .logo {
        max-height: 80px; /* Adjust the height as needed */
        max-width: 80px; /* Adjust the width as needed */
    }
}

/* Adjust size for smaller screens */
@media (max-width: 767.98px) {
    .logo {
        max-height: 100px; /* Adjust the height as needed */
        max-width: 100px; /* Adjust the width as needed */
    }
}

/* Adjust size for extra small screens */
@media (max-width: 575.98px) {
    .logo {
        max-height: 100px; /* Adjust the height as needed */
        max-width: 100px; /* Adjust the width as needed */
    }
}

ul li {
    position: relative;
    width: fit-content;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #121619;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

ul li {
    position: relative;
    width: fit-content;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #121619 ;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}
.nav-link{
    color: #121619 !important;
}
.navbar{
    background-color:rgba(255, 255, 255, 0.70);
    color: black;
    z-index: 10;
    backdrop-filter: blur(11px);
}

.cur-page{
    color: #583101 !important;
}
.navbar-brand{
    font-family: "Playfair Display", Helvetica;
    font-weight: 500 !important;
    font-style: italic;
    color: #583101;
    font-size: 32px !important;
}
.nav-btn{
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    padding: 16px 24px;
    flex: 0 0 auto;
    background-color: #583101;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #eff5ed;
    font-size: 20px;
    line-height: normal;
}
.bi-list{
    color: #583101;
}
.navbar-toggler {
    background-color: #ffffff; /* Change to a visible color */
    border: 1px solid #000; /* Optional border */
  }
  